body {
    background-color: rgb(27, 24, 24);
}

.h3-tag {
    text-align: center;
    color: white;
}
.brf-st {
    color: white;
}
.dwn-bt {
    color: white;
}

.dwn-btn {
    border: none;
    background-color: red;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    margin-left: 50px;
    height: 30px;
}

.dwn-btn:hover {
    opacity: 0.8;
}

.st-rt {
    color: white;
}